.btn {
  &_c {
    @include btn-unstyled;
    $circle: &;

    width: 55px;
    height: 55px;
    border-radius: 50%;

    position: relative;
    background: rgba(55, 149, 213, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background 0.3s 0s;

    &--close {
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 22px;
        height: 2px;

        background: $gray8;
        transition: background 0.3s 0s;
      }

      &:after {
        transform: rotate(-45deg);
      }

      &:before {
        transform: rotate(45deg);
      }

      &:hover {
        &:before,
        &:after {
          background: $gray10;
        }
      }
    }

    &:hover {
      background: rgba(55, 149, 213, 0.4);

      svg path {
        stroke: $gray10;
      }
    }
  }
}
