{% set title = "Main" %}
{% set app_class = "app--home" %}

{% extends "layouts/_default.njk" %}
{% import "components/_index.njk" as components %}

{% block content %}

    <main class="main" role="main">
      <div class="col-12">

      </div>
      <div class="col-6">

      </div>
    </main>

{% endblock %}
