{% set title = "Main" %}
{% set app_class = "app--home" %}

{% extends "layouts/_default.njk" %}
{% import "components/_index.njk" as components %}

{% block content %}

    <main class="main" role="main">

    </main>

{% endblock %}
