.icon {
  display: block;
  line-height: 1;

  &-card {
    width: 20px;
    height: 18px;
    fill: currentColor;
  }

  &-chevron {
    width: 20px;
    height: 20px;
    fill: currentColor;
    stroke: currentColor;
  }
}
