//Gray
//
$gray1: #fff;
$gray2: #f8f8f8;
$gray3: #eeeeee;
$gray4: #e7e7e7;
$gray5: #8e8c8c;
$gray6: #989898;
$gray7: #999999;
$gray8: #9a9a9a;
$gray9: #777777;
$gray10: #737373;
$gray11: #727272;
$gray12: #575153;
$gray13: #454647;
$gray14: #333333;
$gray15: #222222;

$grays: ();
$grays: map-merge(
    (
      "1": $gray1,
      "2": $gray2,
      "3": $gray3,
      "4": $gray4,
      "5": $gray5,
      "6": $gray6,
      "7": $gray7,
      "8": $gray8,
      "9": $gray9,
      "10": $gray10,
      "11": $gray11,
      "12": $gray12,
      "13": $gray13,
      "14": $gray14,
      "15": $gray15
    ),
    $grays
);

//Blue
//
$blue1: #00c8c8;

$blues: ();
$blues: map-merge(
    (
      "1": $blue1,
    ),
    $blues
);

$blue: $blue1;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$orange: #fd7e14;
$yellow: #FFBF1C;
$teal: #20c997;
$cyan: #17a2b8;

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
    (
      "blue": $blue,
      "indigo": $indigo,
      "purple": $purple,
      "pink": $pink,
      "red": $red,
      "orange": $orange,
      "yellow": $yellow,
      "green": $green,
      "teal": $teal,
      "cyan": $cyan,
      "white": $white,
      "gray": $gray6,
      "gray-dark": $gray8
    ),
    $colors
);

$primary: $green;
$secondary: $gray6;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray1;
$dark: $gray8;

$gold: #FFCA41;
$silver: #979797;
$bronze: #B55916;

$theme-colors: ();
$theme-colors: map-merge(
    (
      "primary": $primary,
      "secondary": $secondary,
      "dark": $dark,
      "white": $white,
      "black": $black,
      "yellow": $yellow
    ),
    $theme-colors
);

$body-color: $black;

$btnDisabledBackground: #F4F7F9;
$btnDisabledColor: #CDD7E0;
