$spacer: 10px;
$spacers: ();
$spacers: map-merge(
    (
            0: 0,
            5: ($spacer * .5),
            10: $spacer,
            15: ($spacer * 1.5),
            20: ($spacer * 2),
            25: ($spacer * 2.5),
            30: ($spacer * 3),
            40: ($spacer * 4),
            50: ($spacer * 5),
            70: ($spacer * 7),
            80: ($spacer * 8),
            100: ($spacer * 10),
            120: ($spacer * 12),
            135: ($spacer * 13.5),
            150: ($spacer * 15)
    ),
    $spacers
);
