$font-family-sans-serif: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: $font-family-sans-serif;

//REGULAR
//
@mixin s400-1 {
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 0.04em;
}

@mixin s400-2 {
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

@mixin s400-3 {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.03em;

}

@mixin s400-4 {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.02em;

}

@mixin s400-5 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;

}

@mixin s400-6 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.01em;

}

@mixin s400-7 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;

}

@mixin s400-8 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin s400-9 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin s400-10 {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.01em;
}

@mixin s400-11 {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: -0.01em;
}

@mixin s400-12 {
  font-size: 32px;
  font-weight: 400;

  letter-spacing: -0.02em;
}

@mixin s400-13 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

@mixin s400-14 {
  font-size: 42px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

@mixin s400-15 {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: -0.03em;
}

@mixin s400-16 {
  font-size: 56px;
  font-weight: 400;
  letter-spacing: 0;
}


//MEDIUM
//
@mixin s500-1 {
  font-size: 8px;
  font-weight: 500;
  letter-spacing: 0.04em;
}

@mixin s500-2 {
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

@mixin s500-3 {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

@mixin s500-4 {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@mixin s500-5 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@mixin s500-6 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.01em;
}

@mixin s500-7 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
}

@mixin s500-8 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
}

@mixin s500-9 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
}

@mixin s500-10 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.01em;

}

@mixin s500-11 {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.01em;
}

@mixin s500-12 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

@mixin s500-13 {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

@mixin s500-14 {
  font-size: 42px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

@mixin s500-15 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -0.03em;
}

@mixin s500-16 {
  font-size:  56px;
  font-weight: 500;
  letter-spacing: 0;
}


//SEMI BOLD
//
@mixin s600-1 {
  $parent: &;
  font-size: 8px;
  font-weight: 600;
  letter-spacing: 0.02em;

  @at-root .app--operaMini {
    #{$parent} {
      font-weight: 700;
    }
  }
}

@mixin s600-2 {
  $parent: &;
  font-size: 9px;
  font-weight: 600;
  letter-spacing: 0.02em;

  @at-root .app--operaMini {
    #{$parent} {
      font-weight: 700;
    }
  }
}

@mixin s600-3 {
  $parent: &;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.02em;

  @at-root .app--operaMini {
    #{$parent} {
      font-weight: 700;
    }
  }
}

@mixin s600-4 {
  $parent: &;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.02em;

  @at-root .app--operaMini {
    #{$parent} {
      font-weight: 700;
    }
  }
}

@mixin s600-5 {
  $parent: &;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.02em;

  @at-root .app--operaMini {
    #{$parent} {
      font-weight: 700;
    }
  }
}

@mixin s600-6 {
  $parent: &;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;

  @at-root .app--operaMini {
    #{$parent} {
      font-weight: 700;
    }
  }
}

@mixin s600-7 {
  $parent: &;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.01em;

  @at-root .app--operaMini {
    #{$parent} {
      font-weight: 700;
    }
  }
}

@mixin s600-8 {
  $parent: &;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;

  @at-root .app--operaMini {
    #{$parent} {
      font-weight: 700;
    }
  }
}

@mixin s600-9 {
  $parent: &;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;

  @at-root .app--operaMini {
    #{$parent} {
      font-weight: 700;
    }
  }
}

@mixin s600-10 {
  $parent: &;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0;

  @at-root .app--operaMini {
    #{$parent} {
      font-weight: 700;
    }
  }
}

@mixin s600-11 {
  $parent: &;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0;

  @at-root .app--operaMini {
    #{$parent} {
      font-weight: 700;
    }
  }
}

@mixin s600-12 {
  $parent: &;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;

  @at-root .app--operaMini {
    #{$parent} {
      font-weight: 700;
    }
  }
}

@mixin s600-13 {
  $parent: &;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0;

  @at-root .app--operaMini {
    #{$parent} {
      font-weight: 700;
    }
  }
}

@mixin s600-14 {
  $parent: &;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 0;

  @at-root .app--operaMini {
    #{$parent} {
      font-weight: 700;
    }
  }
}

@mixin s600-15 {
  $parent: &;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.01em;

  @at-root .app--operaMini {
    #{$parent} {
      font-weight: 700;
    }
  }
}

@mixin s600-16 {
  $parent: &;
  font-size: 56px;
  font-weight: 600;
  letter-spacing: -0.01em;

  @at-root .app--operaMini {
    #{$parent} {
      font-weight: 700;
    }
  }
}
