{% import "components/_index.njk" as components %}

<div class="header">
  <div class="header__line">
    <div class="container">
      <div class="header__line-body">
        <div class="header__currency">Currency: GBP</div>

        <div class="header__actions">

          <div class="header__actions-link">
            <a href="#" class="link link--blue">Register</a>
            <a href="#" class="link link--blue">Sign In</a>
          </div>

          <div class="header__card">
            <div class="header__card-icon">
              <svg class="icon icon-card">
                <use xlink:href="#icon-card"></use>
              </svg>
            </div>

            <div class="header__card-count">
              empty
            </div>

            <span class="header__card-chevron">
              <svg class="icon icon-chevron">
                <use xlink:href="#icon-chevron"></use>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container container--xxl">
    <div class="header__body">
      <a href="/" class="header__logo">
        <img src="static/img/stub/logo.png" alt="">
      </a>

      {{ components.navigation('header') }}

      <div class="header__search">
        <form action="#" class="header__search-form">
          <label>
            <input class="input input--search header__search-input" placeholder="Search.." type="text">
          </label>
          <button type="submit" class="header__search-submit">
            <svg class="icon icon-search">
              <use xlink:href="#icon-search"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="header-mobile">
  <ul class="header-mobile__actions">
    <li class="header-mobile__actions-item">
      <a href="" class="link link--blue header-mobile__actions-btn">
        <svg class="icon">
          <use xlink:href="#icon-burger"></use>
        </svg>
      </a>
    </li>
    <li class="header-mobile__actions-item">
      <a href="" class="link link--blue header-mobile__actions-btn">
        <svg class="icon">
          <use xlink:href="#icon-search-mobile"></use>
        </svg>
      </a>
    </li>
  </ul>

  <a href="/" class="header-mobile__logo link link--white">
    <span class="header-mobile__logo-title">avenue</span>
    <span class="header-mobile__logo-text">fashion</span>
  </a>

  <ul class="header-mobile__actions">
    <li class="header-mobile__actions-item">
      <a href="" class="link link--blue header-mobile__actions-btn">
        <svg class="icon">
          <use xlink:href="#icon-profile-mobile"></use>
        </svg>
      </a>
    </li>
    <li class="header-mobile__actions-item">
      <a href="" class="link link--blue header-mobile__actions-btn">
        <svg class="icon">
          <use xlink:href="#icon-basked-mobile"></use>
        </svg>
      </a>
    </li>
  </ul>

  <form class="header-mobile__search">
    <div class="header-mobile__search-close">
      <svg class="icon icon-arrowLeft">
        <use xlink:href="#icon-arrow-left"></use>
      </svg>
    </div>
    <input class="header-mobile__search-input" placeholder="Search..." type="text">
  </form>
</div>

<div class="menu-mobile">
  <div class="menu-mobile__panel">
    <div class="menu-mobile__header">
      <a href="#" class="menu-mobile__sign-in link">
        <div class="menu-mobile__sign-in-icon">
          <svg class="icon icon-profile">
            <use xlink:href="#icon-profile-mobile"></use>
          </svg>
        </div>
        <div class="menu-mobile__sign-in-label">Sign in</div>
      </a>

      <div class="menu-mobile__close">
        <svg class="icon icon-close">
          <use xlink:href="#icon-close"></use>
        </svg>
      </div>
    </div>

    <div class="menu-mobile__body">

    </div>
  </div>
</div>
