<div class="header">
  <div class="header__line">
    <div class="container">
      <div class="header__line-body">
        <div class="header__currency">Currency: GBP</div>

        <div class="header__actions">

          <div class="header__actions-link">
            <a href="#" class="link link--blue">Register</a>
            <a href="#" class="link link--blue">Sign In</a>
          </div>

          <div class="header__card">
            <div class="header__card-icon">
              <svg class="icon icon-card">
                <use xlink:href="#icon-card"></use>
              </svg>
            </div>

            <div class="header__card-count">
              empty
            </div>

            <span class="header__card-chevron">
              <svg class="icon icon-chevron">
                <use xlink:href="#icon-chevron"></use>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container container--xxl">
    <div class="header__body">
      <a href="#" class="header__logo">
        <img src="static/img/stub/logo.png" alt="">
      </a>

      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item"></li>
        </ul>
      </nav>

      <div class="header__search">
        <form action="#" class="header__search-form">
          <label>
            <input class="input input--search header__search-input" placeholder="Search.." type="text">
          </label>
          <button type="submit" class="header__search-submit">
            <svg class="icon icon-search">
              <use xlink:href="#icon-search"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
