<div class="header">
  <div class="header__line">
    <div class="container">
      <div class="header__line-body">
        <div class="header__currency">Currency: GBP</div>

        <div class="header__actions">

          <div class="header__card">
            <div class="header__card-icon">
              <svg class="icon icon-card">
                <use xlink:href="#icon-card"></use>
              </svg>
            </div>

            <div class="header__card-count">
              empty
            </div>

            <span class="header__card-chevron">
              <svg class="icon icon-chevron">
                <use xlink:href="#icon-chevron"></use>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
